{% extends "two_factor/_base.html" %}

{% block content_wrapper %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
