<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    {#    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">#}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.0.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-all-5.13.1.css' %}">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv3.7.js' %}"></script>
    <script src="{% static 'js/respond1.3.0.js' %}"></script>
  <![endif]-->
  </head>
  <body>

    <section>
      <div class="login-main">
        <div class="Login-paper">
          <div class="logo">
            <img src="{% static 'images/' %}{{ BRAND }}-logo.png" alt="Logo">
          </div>
          <h5><b>Welcome!</b> Let's get started.</h5>

          {% block content_wrapper %}
            {% block content %}{% endblock %}
          {% endblock %}

        </div>
        <div class="poweredby">
          <img src="{% static 'images/poweredby.png' %}" alt="">
        </div>
      </div>

      <!-- Footer -->
      <div class="lightFooter">
        <div class="lightText"> &copy; COPYRIGHT 2021 NIRVEDA COGNITION INC. ALL
          RIGHTS RESERVED
        </div>
      </div>
      <!-- Footer -->
    </section>

    {#    Don't change below libraries' versions unless the #}
    {#    django-two-factor-auth library does it.#}
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.0.2.min.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>

    <script>
    </script>
  </body>
</html>
