@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../webfonts/ibmplexsans-regular-webfont.eot');
  src: url('../webfonts/ibmplexsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
  url('../webfonts/ibmplexsans-regular-webfont.woff') format('woff'),
  url('../webfonts/ibmplexsans-regular-webfont.ttf') format('truetype'),
  url('../webfonts/ibmplexsans-regular-webfont.svg#ibm_plex_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Standar Styles --------------------------------------------------------*/
.display-none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 20px;
  color: #545454;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #0467ad;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a:hover {
  text-decoration: none;
  color: #333;
  outline: none;
  border: none;
}

img {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

p {
  padding: 0;
  line-height: 30px;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: #333;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.login-main {
  padding: 8px;
  background: #6094FB;
  background-size: 100% 100%;
  background-image: url(../images/Login_Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 30px);
}

.lightFooter {
  height: 30px;
  background: #5E78FA;
  box-shadow: 0px 8px 17px;
  margin-top: auto;
}

.lightFooter .lightText {
  color: #7bc3ff;
  font-size: 8px;
  text-align: center;
  line-height: 30px;
}

.Login-paper > .container {
  width: 100%;
}

.Login-paper {
  display: flex;
  padding: 40px 130px 30px;
  background: white;
  box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.30);
  text-align: center;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  margin: 5% auto;
  max-width: 800px;
}

.Login-paper .logo {
  max-width: 200px;
}

.login-main .poweredby {
  margin-top: -50px;
  text-align: center;
  width: 100%;
}


h5 {
  color: #1b1b1b;
  font-size: 28px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form_container {
  margin: 20px auto;
  width: 100%;

}

.form_container {
  margin: 20px auto;
  width: 100%;
}

.form_container > table {
  width: 100%;
}

.form_container > table > tbody > tr {
  position: relative;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100px;
  vertical-align: top;
}

.form_container > table > tbody > tr > th {
  position: relative;
}

.form_container > table > tbody > tr > td {
  position: relative;
}

.form_container > table > tbody > tr > th > label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  color: #959DAF;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  z-index: 99;
}

.form_container > table > tbody > tr > td > input {
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  width: 100%;
  height: 60px;
  padding: 10px 10px 10px 55px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  color: #A2A2A2;
  background: #fff;
  font-weight: normal;
}

.form_container > table > tbody > tr > td > input:focus {
  background: #fff !important;
}

.form_container > table > tbody > tr > td > input:-webkit-autofill,
.form_container > table > tbody > tr > td > input:-webkit-autofill:hover,
.form_container > table > tbody > tr > td > input:-webkit-autofill:focus {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.form_container > table > tbody > tr > td > .icon_cont {
  position: absolute;
  top: 17px;
  left: 17px;
  color: #d3d3d3;
}

.form_container .errorMessage {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  color: #EF65B1;
}

/*To display at bottom*/
/*.form_container .errorMessage{*/
/*	width: 100%;*/
/*	font-family: 'IBM Plex Sans', sans-serif;*/
/*	font-size: 15px;*/
/*	color: #EF65B1;*/
/*	margin-top: 20px;*/
/*	text-align: left;*/
/*}*/

.Login-submit {
  width: 230px;
  margin: 24px auto 0;
  padding: 15px 20px;
  font-size: 20px;
  background: #618bff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  font-weight: 600;
  border-radius: 5px;
  text-transform: unset;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
  border: 0;
}

.Login-submit:hover {
  color: #fff;
}

.form_container .forgot {
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  color: #d3d3d3;
  margin-top: 20px;
  text-align: left;
}

.form_container .forgot a {
  color: #757575
}
